.center {
	top: 50px;
	width: 1000px;
	height: auto;
}

#password_input1:hover ~ #show_pass_0 {
	transition: 0.2s ease-in;
	stroke: white;
}

#password_input1:hover ~ #show_pass_01 {
	transition: 0.2s ease-in;
	stroke: white;
}

#password_input2:hover ~ #show_pass_1 {
	transition: 0.2s ease-in;
	stroke: white;
}

#password_input2:hover ~ #show_pass_11 {
	transition: 0.2s ease-in;
	stroke: white;
}

details {
	font-size: 24px;
}

.toggle:checked ~ .toggle-bg {
	background-color: black !important;
	transition: 0.2s ease-in;
}

.toggle:checked {
	right: 4px !important;
}
