.center {
	top: -50px;
	width: 1000px;
	height: auto;
	padding-bottom: 50px;
}

.button1 {
	color: black;
	background-color: white;
	border-color: white;
}

.button1:hover {
	color: white;
	border-color: white;
}

.input1 {
	color: black;
	background-color: white;
	border-color: white;
	width: 250px;
}

.input1:hover {
	color: white;
	border-color: white;
}

#button1 {
	position: relative;
	top: 45px;
}

.link1 {
	font-size: 1rem !important;
	position: relative;
	top: 50px;
	color: white !important;
}

#result {
	position: relative;
	top: 50px;
	margin: 0 auto;
	border: 1px solid rgb(10, 10, 10);
	padding: 1rem;
	border-radius: 30px;
	width: 63.666667%;
	height: 500px;
	transition: 0.3s;
	background-color: rgb(10, 10, 10);
	color: rgb(255, 255, 255);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin-bottom: 100px;
	display: none;
	resize: none;
}

#result::-webkit-scrollbar {
	width: 0px;
	background: transparent; /* make scrollbar transparent */
}

.qr {
	padding-top: 250px;
	background-color: rgb(10, 10, 10);
	margin-top: 50px;
	border-radius: 30px;
	margin: 0 auto;
	margin-top: 20px;
	width: 66.666667%;
	height: 500px;
}

.after_export {
	display: none;
}

.parent {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.div1 {
	grid-area: 1 / 1 / 2 / 2;
	position: relative;
	width: 180px;
	left: 320px;
	top: 10px;
}
.div2 {
	grid-area: 1 / 2 / 2 / 3;
	position: relative;
	width: 180px;
	right: 5px;
	top: 10px;
}

img {
	filter: blur(6px);
	transition: 0.2s ease-in;
	padding: 30px;
	background-color: white;
	border-radius: 30px;
}

img:hover {
	filter: none;
}

textarea {
	filter: blur(4px);
	transition: 0.2s ease-in;
}

textarea:hover {
	filter: none;
}

p {
	font-size: 18px;
}
