.qr {
	padding-top: 250px;
	background-color: rgb(10, 10, 10);
	margin-top: 50px;
	border-radius: 30px;
	margin: 0 auto;
	margin-top: 20px;
	width: 66.666667%;
	height: 500px;
	margin-bottom: 4rem;
}

.parent {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.div1 {
	grid-area: 1 / 1 / 2 / 2;
	position: relative;
	width: 180px;
	left: 320px;
	top: 10px;
}
.div2 {
	grid-area: 1 / 2 / 2 / 3;
	position: relative;
	width: 180px;
	right: 5px;
	top: 10px;
}

.img {
	filter: blur(6px);
	transition: 0.2s ease-in;
	padding: 30px;
	background-color: white;
	border-radius: 30px;
}

.img:hover {
	filter: none;
}

p {
	font-size: 18px;
}
