/* dropdown */
.dropdown-button {
	color: black;
	background: white;
	border: 2px solid white;
	font-size: 1.25rem;
	padding: 15px 30px;
	border-radius: 30px;
	cursor: pointer;
	text-decoration: none;
	transition: 0.2s ease-in;
	text-align: center;
	width: 18rem;
}

.dropdown-button:hover {
	color: white;
	background-color: transparent;
	border-color: white;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	top: 70px;
	display: none;
	position: absolute;
	width: 18rem;
	z-index: 1;
	border-radius: 30px;
}

.dropdown-content a {
	color: black;
	padding: 10px 10px;
	text-decoration: none;
	display: block;
	background-color: white;
}

.dropdown-content a:hover {
	transition: ease-in 0.2s;
	background-color: rgb(30, 30, 30);
	color: white;
}

.dropdown-content a:first-child {
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

.dropdown-content a:last-child {
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.dropdown-link > svg {
	height: 1em;
	width: 1em;
	margin: 0 0.05em 0 0.1em;
	vertical-align: -0.1em;
}

.dropdown-link:link {
	text-decoration: none !important;
	font-weight: normal;
	font-size: 20px;
}

.dropdown-button > svg {
	position: relative;
	top: 4px;
}
