/* titlebar */
.custom-titlebar {
	font-family: Arial, Helvetica, sans-serif;
	color: white !important;
}

/* submenu */
.custom-titlebar-submenu {
	background-color: rgb(0, 0, 0) !important;
	border: 1px solid rgb(40, 40, 40);
	text-transform: capitalize !important;
}

/* separator */
.custom-titlebar-separator {
	margin: 8px 0px !important;
	background-color: rgb(40, 40, 40) !important;
	opacity: 1 !important;
}
