.center {
	top: -50px;
	width: 1000px;
	height: 2450px;
}

.button1 {
	color: black;
	background-color: white;
	border-color: white;
}

.button1:hover {
	color: white;
	border-color: white;
}

.input1 {
	color: black;
	background-color: white;
	border-color: white;
	width: 250px;
}

.input1:hover {
	color: white;
	border-color: white;
}

#button1 {
	position: relative;
	top: 45px;
}

.link1 {
	font-size: 1rem !important;
	position: relative;
	top: 50px;
	color: white !important;
}

hr {
	margin-top: 30px;
	color: white;
}

/* tabs */
.tab {
	overflow: hidden;

	text-align: center;
}

.tabcontent {
	animation: fadeEffect 1s;
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#shortcuts {
	display: none;
}

/* grid */
.grid {
	display: grid;
	grid-template-columns: 0.5fr 1fr 0.5fr;
	grid-template-rows: 0.5fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin-bottom: 30px;
}

.div1 {
	grid-area: 1 / 1 / 2 / 2;
}
.div2 {
	grid-area: 1 / 2 / 2 / 3;
}
.div3 {
	grid-area: 1 / 3 / 2 / 4;
}

.text {
	position: relative;
	left: 130px;
}

.button {
	position: relative;
	right: 130px;
}
