body {
	overflow: hidden;
	display: block;
}

.center {
	top: -50px;
	width: 1000px;
	height: 3150px;
}

.button1 {
	color: black;
	background-color: white;
	border-color: white;
}

.button1:hover {
	color: white;
	border-color: white;
	background-color: transparent;
}

.input1 {
	color: black;
	background-color: white;
	border-color: white;
	width: 226px;
	height: 29px !important;
}

.input1:hover {
	color: white;
	border-color: white;
	background-color: transparent;
}

#button1 {
	position: relative;
	top: 45px;
}

.link1 {
	font-size: 1rem !important;
	position: relative;
	top: 50px;
	color: white !important;
}

hr {
	margin-top: 30px;
	color: white;
	border-width: 1px;
}

/* tabs */
.tab {
	overflow: hidden;

	text-align: center;
}

.tabcontent {
	animation: fadeEffect 1s;
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#shortcuts {
	display: none;
}

/* grid */
.grid {
	display: grid;
	position: relative;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-row-gap: 0px;
	margin-bottom: 30px;
	column-gap: 150px;
}

.text {
	position: relative;
	left: 130px;
}

.button {
	position: relative;
	right: 130px;
}

.buttoni {
	margin: 3px;
	color: black;
	background: white;
	border: 1px solid var(--df_primary_color);
	font-size: 1.25rem;
	padding: 13px 30px;
	border-radius: 30px;
	cursor: pointer;
	text-decoration: none;
	transition: 0.2s ease-in;
	height: 61px;
}

.buttoni:hover {
	border: 1px solid var(--df_primary_color);
	background: transparent;
	color: var(--df_primary_color);
}

.buttonm {
	color: white;
	background: black;
	border: 1px solid black;
	font-size: 1.25rem;
	padding: 15px 30px;
	border-radius: 30px;
	cursor: pointer;
	text-decoration: none;
	transition: 0.2s ease-in;
	text-align: left;
	width: 15rem;
}

.buttonm:hover {
	border: 1px solid rgb(20, 20, 20);
	background: rgb(20, 20, 20);
	color: white;
}

.buttonmselected {
	border: 1px solid rgb(30, 30, 30);
	background: rgb(30, 30, 30);
	color: white;
}

.buttonm > svg {
	position: relative;
	top: 4px;
}

#experimental {
	display: none;
}

#codes {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.link {
	cursor: pointer;
	font-weight: bold;
	transition: 0.2s ease-in;
}

.link:hover {
	color: gray;
}

.part {
	padding-bottom: 100px;
	text-align: center;
	background-color: rgb(10, 10, 10);
}

.buttonm2 {
	color: black;
	background: white;
	border: 1px solid black;
	font-size: 1.25rem;
	padding: 15px 30px;
	border-radius: 30px;
	cursor: pointer;
	text-decoration: none;
	transition: 0.2s ease-in;
	text-align: center;
	width: 18rem;
}

.buttonm2:hover {
	border-color: white;
	background: transparent;
	color: white;
}

.buttonm2 > svg {
	position: relative;
	top: 4px;
}

/* Dropdown Button */
.dropdown-button {
	color: black;
	background: white;
	border: 1px solid black;
	font-size: 1.25rem;
	padding: 15px 30px;
	border-radius: 30px;
	cursor: pointer;
	text-decoration: none;
	transition: 0.2s ease-in;
	text-align: center;
	width: 18rem;
	height: 3.8rem;
}

.dropdown-button:hover {
	color: white;
	background-color: transparent;
	border-color: white;
}

.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	top: 65px;
	display: none;
	position: absolute;
	width: 18rem;
	z-index: 1;
	border-radius: 30px;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 10px 10px;
	text-decoration: none;
	display: block;
	background-color: white;
}

.dropdown-content a:hover {
	background-color: rgb(20, 20, 20);
	color: white;
}

.dropdown-content a:first-child {
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

.dropdown-content :last-child {
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.dropdown-link > svg {
	height: 1em;
	width: 1em;
	margin: 0 0.05em 0 0.1em;
	vertical-align: -0.1em;
}

.dropdown-link:link {
	text-decoration: none !important;
	font-weight: normal;
	font-size: 20px;
}

.dropdown-button > svg {
	position: relative;
	top: 4px;
}

.toggle:checked ~ .toggle-bg {
	background-color: black !important;
	transition: 0.2s ease-in;
}

.toggle:checked {
	right: 4px !important;
}

.noclick {
	pointer-events: none;
}
