/* all */
*,
::before,
::after {
	font-family: system-ui, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	outline: none;
	border-width: 0;
	border-style: solid;
	border-color: theme("borderColor.default", currentColor);
	user-select: none;
}

/* body */
body {
	color: white;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: rgb(10, 10, 10);
}

/* selection */
::selection {
	color: white;
	background: gray;
}

/* scrollbar */
::-webkit-scrollbar-track {
	background-color: #000000;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(40, 40, 40);
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(50, 50, 50);
}

::-webkit-scrollbar-corner {
	background-color: #000000;
}

/* hr */
hr {
	margin-top: 30px;
	color: white;
	border-width: 1px;
}

/* headings */
h1 {
	font-size: 64px;
	font-weight: bold;
	margin: 2rem;
}

h2 {
	font-size: 48px;
	font-weight: bold;
	margin: 2rem;
}

h3 {
	font-size: 32px;
	font-weight: bold;
	margin: 2rem;
}

h4 {
	font-size: 24px;
	margin: 2rem;
	font-weight: normal;
}

h5 {
	font-size: 18px;
	margin: 2rem;
	font-weight: normal;
}

a {
	font-weight: 500;
}
