@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-size: 16px;
}

html {
	font-size: var(--font-size);
}

@media (min-resolution: 1.25dppx) {
	:root {
		--font-size: 14px;
	}
}

@layer components {
	.button {
		@apply flex items-center justify-center gap-2 whitespace-nowrap rounded-2xl border-2 border-white bg-white px-6 py-4 text-xl font-medium text-black outline-none duration-200 ease-linear hover:bg-transparent hover:text-white focus-visible:ring-4 focus-visible:ring-popup-magenta;
	}

	.smallButton {
		@apply flex items-center justify-center gap-2 whitespace-nowrap rounded-2xl border-2 border-white bg-white px-3 py-2 text-lg font-medium text-black outline-none duration-200 ease-linear hover:bg-transparent hover:text-white focus-visible:ring-4 focus-visible:ring-popup-magenta;
	}

	.menuButton {
		@apply transparent-900-hover mx-3 mb-3 mt-0 flex h-20 w-20 flex-col items-center justify-center rounded-xl text-sm font-medium outline-none duration-200 ease-linear hover:text-gray-200 focus-visible:ring-4 focus-visible:ring-popup-magenta;
	}

	.selectedMenuButton {
		@apply mx-3 mb-3 flex h-20 w-20 flex-col items-center justify-center rounded-xl bg-white font-medium !text-black outline-none duration-200 ease-linear hover:bg-gray-200 focus-visible:ring-4 focus-visible:ring-popup-magenta;
	}

	.select {
		@apply form-select cursor-pointer rounded-2xl !border-white py-4 text-xl font-medium text-black !ring-transparent duration-200 ease-linear hover:bg-gray-200 focus-visible:!ring-4 focus-visible:!ring-popup-magenta;
	}

	.input {
		@apply transparent-900 transparent-input rounded-xl p-4 text-xl text-white outline-none duration-200 ease-linear;
	}

	/* code element */
	.code {
		@apply transparent-800 flex w-full max-w-2xl flex-grow basis-1/3 flex-col rounded-2xl p-3;
	}

	.dialog {
		@apply mx-auto w-2/4 select-none rounded-2xl bg-gray-700 p-10 text-white;
	}

	/* edit element */
	.edit {
		@apply transparent-800 mb-5 flex w-full flex-row items-center justify-between rounded-xl p-5 text-left sm:flex-col sm:items-start;
	}

	.blurCodes {
		@apply blur-md delay-500 duration-200 ease-linear hover:blur-none;
	}

	.focusRing {
		@apply outline-none focus-visible:ring-4 focus-visible:ring-popup-magenta;
	}

	.checkbox {
		@apply focusRing form-checkbox relative -top-0.5 transform cursor-pointer rounded-full border-2 text-black outline-none duration-200 ease-in focus:ring-transparent motion-reduce:transform-none motion-reduce:transition-none;
	}
}

/* body */
body {
	color: white;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: rgb(10, 10, 10);
	/* background: url("../../images/mica.png"); */
	line-height: normal;
	font-family: system-ui, Arial;
	user-select: none;
	outline: none !important;
}

/* headings */
h1 {
	font-size: 64px;
	font-weight: 700;
}

/* main card */
h2 {
	font-size: 32px;
	font-weight: 700;
}

h3 {
	font-size: 24px;
	color: #d3cfcf;
}

/* secondary card */
h4 {
	font-size: 24px;
	font-weight: 500;
}

h5 {
	font-size: 18px;
	color: #d3cfcf;
}

/* backdrops */
.transparent-900 {
	background-color: hsla(0, 0%, 100%, 5.12%);
}

.transparent-800 {
	background-color: hsla(0, 0%, 100%, 3.26%);
}

.transparent-input:hover {
	background-color: hsla(0, 0%, 100%, 15%);
}

.transparent-input:focus {
	background-color: hsla(0, 0%, 100%, 15%);
}

.transparent-900-hover:hover {
	background-color: hsla(0, 0%, 100%, 5%);
}

.transparentHover:hover {
	background-color: hsla(0, 0%, 100%, 5%);
}

/* selection */
::selection {
	color: white;
	background: gray;
}

::-ms-reveal {
	display: none;
}

/* progress bar */
.progress {
	position: relative;
	width: 95%;
	height: 15px;
	background: hsla(0, 0%, 100%, 5.12%);
	border-radius: 30px;
	overflow: hidden;
}

.progressFill {
	width: 0%;
	height: 100%;
	background: white;
	transition: all 0.2s;
}

/* scrollbar */
::-webkit-scrollbar-track {
	background-color: #000000;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(40, 40, 40);
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(50, 50, 50);
}

::-webkit-scrollbar-corner {
	background-color: #000000;
}

/* dialog */
.dialog::backdrop {
	background: rgb(0 0 0 / 0.95);
}

dialog[open] {
	animation: show 0.3s ease normal;
}

dialog.hide {
	animation: hide 1s ease normal;
}

@keyframes show {
	from {
		transform: scale(0.8);
	}
	to {
		transform: scale(1);
	}
}

@keyframes hide {
	to {
		transform: translateY(-110%);
	}
}

/* input */
.input::placeholder {
	color: gray;
	font-weight: normal;
}

.input:read-only {
	background-color: hsla(0, 0%, 100%, 5.12%);
	cursor: default;
}

.instructions {
	list-style-type: decimal;
}

.instructions > li {
	padding: 0.3rem;
	font-size: 18px;
	margin-left: 20px;
}
