.center {
	top: -50px;
	width: 1000px;
	height: auto;
}

.button1 {
	color: black;
	background-color: white;
	border-color: white;
	margin-bottom: 30px;
}

.button1:hover {
	color: white;
	border-color: white;
}

.input1 {
	color: black;
	background-color: white;
	border-color: white;
	width: 250px;
}

#button1 {
	position: relative;
	top: 45px;
}

#version {
	position: relative;
	top: 30px;
}

a:link {
	color: white;
	font-size: 24px;
	font-weight: bold;
	transition: 0.2s ease-in;
	text-decoration: underline !important;
}

a:hover {
	color: gray;
	text-decoration: underline !important;
}

a:visited {
	color: white;
	text-decoration: none !important;
}

.grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;

	width: 300px;
	background-color: black;
	margin: 0 auto;
}

input:focus::placeholder {
	transition: 0.2s ease-in;
	color: transparent;
}

input:hover::placeholder {
	transition: 0.2s ease-in;
	color: transparent;
}

.text-inputs {
	display: none;
	margin: 0 auto;
	margin-top: 30px;
}

#but0,
#but1 {
	margin-bottom: 30px;
}

.details1 {
	width: 98%;
}

.summary1 {
	color: white;
	color: white;
	font-weight: bolder;
}

#dt {
	margin-bottom: 30px;
}

.buttonm {
	color: black;
	background: white;
	border: 1px solid black;
	font-size: 1.25rem;
	padding: 15px 30px;
	border-radius: 30px;
	cursor: pointer;
	text-decoration: none;
	transition: 0.2s ease-in;
	text-align: center;
	width: 18rem;
}

.buttonm:hover {
	border-color: white;
	background: transparent;
	color: white;
}

.buttonm > svg {
	position: relative;
	top: 4px;
}
