/* titlebar */
.custom-titlebar {
	font-family: Arial, Helvetica, sans-serif;
	color: white !important;
}

/* controls */
.custom-titlebar-controls {
	display: none !important;
}

/* submenu */
.custom-titlebar-submenu {
	background-color: rgb(20, 20, 20) !important;
	text-transform: capitalize !important;
	border-radius: 10px;
}

/* separator */
.custom-titlebar-separator {
	margin: 8px 0px !important;
	background-color: rgb(40, 40, 40) !important;
	opacity: 1 !important;
}

.custom-titlebar-menu-item {
	background-color: black !important;
}
