.center {
	top: 50px;
	width: 1000px;
	height: auto;
}

.input1 {
	width: 226px;
}

#password_input:hover ~ #show_pass_0 {
	transition: 0.2s ease-in;
	stroke: white;
}

#password_input:hover ~ #show_pass_01 {
	transition: 0.2s ease-in;
	stroke: white;
}

details {
	font-size: 24px;
}
