/* Dragonfly CSS */
/* 1.4.0 */
/* Created by: Levminer */

:root {
	/* main colors */
	--df_primary_color: rgb(255, 255, 255);
	--df_secondary_color: rgb(255, 255, 255);
	--df_tertiary_color: rgb(0, 0, 0);
	/* background colors */
	--df_primary_background: rgb(10, 10, 10);
	--df_secondary_background: rgb(10, 10, 10);
	/* gradiant colors */
	--df_gradiant_start: rgb(20, 20, 20);
	--df_gradiant_end: rgb(30, 30, 30);
}

/* body */
body {
	color: white;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: rgb(10, 10, 10);
	user-select: none;
}

/* selection */
::selection {
	color: white;
	background: gray;
}

/* all */
* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	outline: none;
}

/* links */
a:link {
	color: white;
	font-size: 24px;
	font-weight: bold;
	transition: 0.2s ease-in;
	text-decoration: underline !important;
}

a:hover {
	color: gray;
	text-decoration: underline !important;
}

a:visited {
	color: white;
	text-decoration: none !important;
}

/* buttons */
.button1 {
	color: black;
	background: white;
	border: 2px solid white;
	font-size: 1.25rem;
	padding: 15px 30px;
	border-radius: 30px;
	cursor: pointer;
	text-decoration: none;
	transition: 0.2s ease-in;
}

.button1:hover {
	border-color: white;
	background: transparent;
	color: white;
}

.buttoni {
	color: black;
	background: white;
	border: 2px solid white;
	font-size: 1.25rem;
	padding: 15px 30px;
	border-radius: 30px;
	cursor: pointer;
	text-decoration: none;
	transition: 0.2s ease-in;
	text-align: center;
	width: 18rem;
}

.buttoni:hover {
	border-color: white;
	background: transparent;
	color: white;
}

.buttoni > svg {
	position: relative;
	top: 4px;
}

.buttonr {
	margin: 3px;
	color: black;
	background: white;
	border: 2px solid var(--df_primary_color);
	font-size: 1.25rem;
	padding: 13px 30px;
	border-radius: 30px;
	cursor: pointer;
	text-decoration: none;
	transition: 0.2s ease-in;
	height: 61px;
}

.buttonr:hover {
	border: 2px solid var(--df_primary_color);
	background: transparent;
	color: var(--df_primary_color);
}

/* text */
.text1,
.text2,
.text3,
.text4 {
	margin: 1rem;
}

.text1 {
	font-size: 2rem;
}

.text2 {
	font-size: 1.75rem;
}

.text3 {
	font-size: 1.5rem;
}

.text4 {
	font-size: 1rem;
}

/* inputs */
.input1:focus::placeholder,
.input2:focus::placeholder {
	transition: 0.2s ease-in;
	color: transparent;
}

.input1:hover::placeholder,
.input2:hover::placeholder {
	transition: 0.2s ease-in;
	color: transparent;
}

.input1 {
	color: black;
	background: white;
	border: 2px solid white;
	font-size: 1rem;
	padding: 15px 30px;
	border-radius: 1.8rem;
	cursor: text;
	text-align: center;
	transition: 0.2s ease-in;
}

.input1:hover {
	color: white;
	background-color: transparent;
	border: 2px solid white;
}

.input1::placeholder {
	color: var(--df_secondary_color);
}

.input2 {
	color: var(--df_primary_color);
	background: var(--df_primary_background);
	border: 2px solid var(--df_primary_color);
	font-size: 1rem;
	padding: 15px 30px;
	border-radius: 1.8rem;
	cursor: text;
	text-align: center;
	transition: 0.2s ease-in;
}

.input2:hover {
	color: var(--df_secondary_color);
	background-color: var(--df_primary_background);
	border: 2px solid var(--df_secondary_color);
}

.input2::placeholder {
	color: var(--df_primary_color);
}

/* divs*/
.center {
	background-color: rgb(20, 20, 20);
	position: relative;
	top: 200px;
	text-align: center;
	padding-top: 30px;
	margin: 130px auto;
	height: 300px;
	width: 600px;
	border-radius: 30px;
}

/* scrollbar */
::-webkit-scrollbar-track {
	background-color: #292a2d;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(20, 20, 20);
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(30, 30, 30);
}

::-webkit-scrollbar-corner {
	background: #292a2d;
}

/* build number */
.build {
	display: none;
	top: 0;
	position: sticky;
	z-index: 999999;
}

/* details */
details {
	font-size: 24px;
}

summary {
	cursor: pointer;
}

details[open] summary ~ * {
	animation: fadeEffect 0.5s ease-in-out;
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* popups */
.online {
	display: none;
}

.offline {
	display: none;
}

.update {
	display: none;
}

.info {
	display: none;
}

/* warnings */
.warning {
	color: #a30015;
	font-weight: bold;
	margin-top: 30px;
	font-size: 24px;
}

.unstable {
	color: #f5ab00;
	font-weight: bold;
	margin-top: 30px;
	font-size: 24px;
}

/* dropdown */
.dropdown-button {
	color: black;
	background: white;
	border: 1px solid black;
	font-size: 1.25rem;
	padding: 15px 30px;
	border-radius: 30px;
	cursor: pointer;
	text-decoration: none;
	transition: 0.2s ease-in;
	text-align: center;
	width: 18rem;
	height: 3.8rem;
}

.dropdown-button:hover {
	color: white;
	background-color: transparent;
	border-color: white;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	top: 65px;
	display: none;
	position: absolute;
	width: 18rem;
	z-index: 1;
	border-radius: 30px;
}

.dropdown-content a {
	color: black;
	padding: 10px 10px;
	text-decoration: none;
	display: block;
	background-color: white;
}

.dropdown-content a:hover {
	background-color: rgb(20, 20, 20);
	color: white;
}

.dropdown-content a:first-child {
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

.dropdown-content :last-child {
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.dropdown-link > svg {
	height: 1em;
	width: 1em;
	margin: 0 0.05em 0 0.1em;
	vertical-align: -0.1em;
}

.dropdown-link:link {
	text-decoration: none !important;
	font-weight: normal;
	font-size: 20px;
}

.dropdown-button > svg {
	position: relative;
	top: 4px;
}
