body {
	overflow: hidden;
	cursor: wait;
}

h1 {
	margin-top: 5px;
}

.center {
	top: -150px;
	width: 500px;
	height: 550px;
}

.button1 {
	color: black;
	background-color: white;
	border-color: white;
}

.button1:hover {
	color: white;
	border-color: white;
}

.input1 {
	color: black;
	background-color: white;
	border-color: white;
	width: 250px;
}

.input1:hover {
	color: white;
	border-color: white;
}

#password_input2 {
	position: relative;
	top: 20px;
}

#password_label2 {
	position: relative;
	top: 20px;
}

#button1 {
	position: relative;
	top: 45px;
}

#version {
	position: relative;
	top: -5px;
}

.link1 {
	font-size: 1rem !important;
	position: relative;
	top: 50px;
	color: white !important;
}
