body {
	overflow: hidden;
	cursor: wait;
	background: transparent !important;
}

h1 {
	font-size: 4rem;
	margin-top: 5px;
}

#ver {
	font-size: 1rem;
	position: relative;
	top: 35px;
}

.center {
	top: -120px;
	width: 500px;
	height: 500px;
	background: rgb(10, 10, 10);
	border-radius: 50px !important;
}

.animation {
	margin: 0 auto;
	position: relative;
	width: 200%;
	left: -30%;
	top: -15px;
}

.loader {
	width: 30px;
	height: 30px;
	position: absolute;
	background-color: #ccc;
	top: 45%;
	border-radius: 50%;
}

.loader:nth-child(1) {
	background-color: white;
	animation: move 1.5s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}
.loader:nth-child(2) {
	background-color: white;
	animation: move 1.5s 150ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}
.loader:nth-child(3) {
	background-color: white;
	animation: move 1.5s 300ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}
.loader:nth-child(4) {
	background-color: white;
	animation: move 1.5s 450ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}

.loader:nth-child(5) {
	background-color: white;
	animation: move 1.5s 600ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}

@keyframes move {
	0% {
		left: 0%;
	}
	100% {
		left: 100%;
	}
}

.mask {
	background-color: transparent;
}
