body {
	overflow-y: scroll;
	margin: 0;
	padding: 0;
	background: rgb(20, 20, 20);
}

h4 {
	font-size: 1.5rem;
}

.center {
	top: 80px;
	width: 1000px;
	height: auto;
}

.button1 {
	color: black;
	background-color: white;
	border-color: white;
}

.button1:hover {
	color: white;
	border-color: white;
}

.button11 {
	color: black;
	background: white;
	border: 1px solid white;
	font-size: 1.25rem;
	padding: 15px 30px;
	border-radius: 30px;
	cursor: pointer;
	text-decoration: none;
	transition: 0.2s ease-in;
}

.button11:hover {
	border: 1px solid wheat;
	background: black;
	color: white;
}

.input1 {
	color: black;
	background-color: white;
	border-color: white;
	width: 250px;
}

.input1:hover {
	color: white;
	border-color: white;
	background-color: black;
}

#password_input2 {
	position: relative;
	top: 20px;
}

#password_label2 {
	position: relative;
	top: 20px;
}

#button1 {
	position: relative;
	top: 30px;
}

.file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/* grid */
.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	justify-items: center;

	background-color: black;
	margin-top: 50px;
	border-radius: 30px;
	margin: 0 auto;
	margin-top: 20px;
	width: 600px;
	height: 250px;
}

.grid:last-child {
	margin-bottom: 50px;
}

.div1 {
	grid-area: 1 / 1 / 2 / 2;
}

.div2 {
	grid-area: 1 / 2 / 2 / 3;
}

.div3 {
	grid-area: 1 / 3 / 2 / 4;
}

.div4 {
	grid-area: 2 / 1 / 3 / 4;
	align-items: center;
}

.div4 button {
	position: relative;
	top: 20px;
}

.input1 {
	width: 90px;
	font-size: 1.3rem;
}

.input2 {
	width: 300px;
	margin: 0 auto;
	color: rgb(0, 0, 0);
	background-color: white;
	border-color: white;
	font-size: 1.5rem;
	padding: 15px 30px;
	border-radius: 30px;
	cursor: text;
	text-align: center;
	transition: 0.2s ease-in;
	margin-bottom: 50px;
	display: none;
}

.input2:hover {
	background-color: var(--df_primary_background);
	color: white;
	border-color: white;
}

.input2::placeholder {
	color: black;
}

#save {
	display: unset;
	visibility: hidden;
	margin-bottom: 20px;
}

input:focus::placeholder {
	transition: 0.2s ease-in !important;
	color: transparent !important;
}

input:hover::placeholder {
	transition: 0.2s ease-in !important;
	color: transparent !important;
}

input:active::placeholder {
	transition: 0.2s ease-in !important;
	color: transparent !important;
}

.text3 {
	position: relative;
	top: 10px;
}

.blur {
	color: transparent;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

a {
	color: white;
	text-decoration: underline;
}

#docs {
	position: relative;
	right: 20px;
}

#sample {
	position: relative;
	left: 20px;
}
