body {
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}

h4 {
	font-size: 1.5rem;
}

/* grid */
.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	justify-items: center;

	background-color: rgb(10, 10, 10);
	margin-top: 50px;
	border-radius: 30px;
	margin: 0 auto;
	margin-top: 20px;
	width: 66.666667%;
	height: 270px;
}

@media (max-width: 1199.98px) {
	.grid {
		width: 90%;
	}
}

.grid:last-child {
	margin-bottom: 50px;
}

.div1 {
	grid-area: 1 / 1 / 2 / 2;
}

.div2 {
	grid-area: 1 / 2 / 2 / 3;
}

.div3 {
	grid-area: 1 / 3 / 2 / 4;
}

.div4 {
	grid-area: 2 / 1 / 3 / 4;
	align-items: center;
}

.div4 button {
	position: relative;
	top: 20px;
}

#search:hover ~ .searchIcon {
	transition: 0.2s ease-in;
	stroke: white;
}

#search {
	line-height: 1.75rem !important;
}

#save {
	display: none;
	margin-bottom: 20px;
	margin: 0 auto;
}

.text3 {
	position: relative;
	top: 10px;
}

a {
	color: white;
	text-decoration: underline;
}

#docs {
	position: relative;
	right: 20px;
}

#sample {
	position: relative;
	left: 20px;
}

#starting,
#choose {
	display: none;
}

.name {
	background-color: rgb(30, 30, 30);
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 30px;
	user-select: all;
	margin-bottom: 10px;
	font-size: 24px;
}

.text2 {
	font-size: 24px !important;
}

.dropdown-content {
	width: 12rem;
	left: 260px;
	top: 75px;
}

.dropdown-content a:hover {
	background-color: white;
	color: black;
	cursor: default;
}
